.character {
  height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.character > h2 {
  font-size: 60px;
}

.character > p {
  width: 50%;
  text-align: center;
  font-size: 30px;
}
